* {
  box-sizing: border-box;
  font-family: Arial;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f1020;
}

.card {
  position: relative;
  width: 1536px;
  height: 450px;
  background: #13111b;
  border-radius: 15px;
  overflow: hidden;
}

.card-bg {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #3c23c9;
  transition: 0.6s;
}

.card-bg.login {
  transform: translateX(100%);
}

.hero, .form {
  position: absolute;
  width: 50%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
}

.hero.active, .form.active {
  opacity: 1;
  visibility: visible;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.hero.login {
  left: 50%;
  transform: translateX(100%);
}

.hero.login.active {
  transform: translateX(0);
}

.hero.register {
  left: 0;
  transform: translateX(-100%);
}

.hero.register.active {
  transform: translateX(0);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.form.login {
  left: 0;
}

.form.register {
  left: 50%;
}

input {
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #1c1a25;
  color: white;
}

button {
  margin-top: 15px;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: #3c23c9;
  color: white;
  cursor: pointer;
}
